<a href="https://colab.research.google.com/github/ddekun/prob_theory_and_math_stat/blob/Project_BTC/Course%20project/Project_BTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Статистическое сопоставление цены биткоина с курсами фиатных активов (USD,EUR,RUR), ценами на нефть.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
BTC = pd.read_csv('/content/drive/MyDrive/prob_theory_and_math_stat/BTC-USD.csv')
OIL = pd.read_csv('/content/drive/MyDrive/prob_theory_and_math_stat/brent_oil.csv')
GOLD = pd.read_csv('/content/drive/MyDrive/prob_theory_and_math_stat/gold.csv')

In [3]:
BTC

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2742,2022-03-21,41246.132813,41454.410156,40668.042969,41077.996094,41077.996094,24615543271
2743,2022-03-22,41074.105469,43124.707031,40948.281250,42358.808594,42358.808594,32004652376
2744,2022-03-23,42364.378906,42893.507813,41877.507813,42892.957031,42892.957031,25242943069
2745,2022-03-24,42886.652344,44131.855469,42726.164063,43960.933594,43960.933594,31042992291
2746,2022-03-25,43958.675781,44982.519531,43711.871094,44395.964844,44395.964844,30379415552

In [4]:
OIL

            Date    Open    High     Low   Close  Volume Currency
0     2000-01-04   23.90   24.70   23.89   24.39   32509      USD
1     2000-01-05   24.25   24.37   23.70   23.73   30310      USD
2     2000-01-06   23.55   24.22   23.35   23.62   44662      USD
3     2000-01-07   23.57   23.98   23.05   23.09   34826      USD
4     2000-01-10   23.04   23.78   23.04   23.73   26388      USD
...          ...     ...     ...     ...     ...     ...      ...
5788  2022-07-15  100.02  102.59   98.23  100.99       0      USD
5789  2022-07-17  101.26  101.26  100.70  100.82       0      USD
5790  2022-07-18  100.70  106.48   99.47  105.72       0      USD
5791  2022-07-19  105.76  107.59  103.61  107.32       0      USD
5792  2022-07-20  106.97  107.42  105.46  106.03       0      USD

[5793 rows x 7 columns]

In [5]:
BTC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2747 non-null   object
 1   Open       2747 non-null   float64
 2   High       2747 non-null   float64
 3   Low        2747 non-null   float64
 4   Close      2747 non-null   float64
 5   Adj Close  2747 non-null   float64
 6   Volume     2747 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 150.4+ KB

In [6]:
OIL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5793 entries, 0 to 5792
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5793 non-null   object
 1   Open      5793 non-null   float64
 2   High      5793 non-null   float64
 3   Low       5793 non-null   float64
 4   Close     5793 non-null   float64
 5   Volume    5793 non-null   int64
 6   Currency  5793 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 316.9+ KB

In [7]:
BTC.rename(columns = {'Open' : 'BTC open'}, inplace=True)

In [8]:
BTC_open = BTC[['Date', 'BTC open']]
BTC_open

            Date      BTC open
0     2014-09-17    465.864014
1     2014-09-18    456.859985
2     2014-09-19    424.102997
3     2014-09-20    394.673004
4     2014-09-21    408.084991
...          ...           ...
2742  2022-03-21  41246.132813
2743  2022-03-22  41074.105469
2744  2022-03-23  42364.378906
2745  2022-03-24  42886.652344
2746  2022-03-25  43958.675781

[2747 rows x 2 columns]

In [9]:
OIL.rename(columns = {'Open' : 'OIL open'}, inplace=True)

In [10]:
OIL_open = OIL[['Date', 'OIL open']]
OIL_open.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5793 entries, 0 to 5792
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5793 non-null   object
 1   OIL open  5793 non-null   float64
dtypes: float64(1), object(1)
memory usage: 90.6+ KB

In [11]:
res = BTC_open.merge(OIL_open, on=["Date"])
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1943 entries, 0 to 1942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1943 non-null   object
 1   BTC open  1943 non-null   float64
 2   OIL open  1943 non-null   float64
dtypes: float64(2), object(1)
memory usage: 60.7+ KB

In [12]:
res[['BTC open', 'OIL open',]].corr()

          BTC open  OIL open
BTC open  1.000000  0.454377
OIL open  0.454377  1.000000

Вывод: Мы видим, что корреляция биткоина и нефти низкая, это значит направления движения цены вверх или вниз совпадают не часто.

In [13]:
GOLD

            Date     Open     High     Low    Close  Volume Currency
0     2000-01-04   281.00   281.00   281.0   282.70       4      USD
1     2000-01-05   283.20   283.20   283.2   281.10      16      USD
2     2000-01-06   281.40   281.40   281.4   281.40       0      USD
3     2000-01-07   281.90   281.90   281.9   281.90       0      USD
4     2000-01-10   281.70   281.70   281.7   281.70       0      USD
...          ...      ...      ...     ...      ...     ...      ...
5774  2022-07-21  1693.70  1719.50  1678.4  1713.40       0      USD
5775  2022-07-22  1717.20  1738.30  1711.7  1727.40       0      USD
5776  2022-07-24  1724.35  1725.05  1722.3  1722.55       0      USD
5777  2022-07-25  1726.30  1734.60  1712.9  1719.10       0      USD
5778  2022-07-26  1719.65  1726.30  1718.9  1722.25       0      USD

[5779 rows x 7 columns]

In [14]:
GOLD.rename(columns = {'Open' : 'GOLD open'}, inplace=True)
GOLD_open = GOLD[['Date', 'GOLD open']]
GOLD_open.head()

         Date  GOLD open
0  2000-01-04      281.0
1  2000-01-05      283.2
2  2000-01-06      281.4
3  2000-01-07      281.9
4  2000-01-10      281.7

In [15]:
res1 = BTC_open.merge(GOLD_open, on=["Date"])
res1.head()

         Date    BTC open  GOLD open
0  2014-09-17  465.864014     1236.2
1  2014-09-18  456.859985     1216.2
2  2014-09-19  424.102997     1218.3
3  2014-09-22  399.100006     1214.9
4  2014-09-23  402.092010     1221.0

In [16]:
res1[['BTC open', 'GOLD open',]].corr()

           BTC open  GOLD open
BTC open   1.000000   0.756147
GOLD open  0.756147   1.000000

Вывод: Мы видим, что корреляция биткоина и золота высокая, это значит направления движения цены вверх или вниз чаще совпадают.